
/* sectionContainer is in  main css */
/* headtitles are in main css */




.aboutMeText{
    color: rgb(85, 1, 71);
    font-size: 1.2rem;
    text-align: left;
}


.aboutMeImg img{
    width: 100%;
    height: auto;
}

