.topbarContainer{
    color: white;
    background: transparent;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
   position: absolute;
   z-index: 555555;
}
.sidebarToggle{
    align-self: flex-start;
    cursor: pointer;
    position: relative;
    transition-duration: 1s;
    padding: .5rem;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.sidebarToggle:hover{
    transform: scale(0.8);
}
.navFlex{
    flex:1;
    list-style:none;
    display: flex;
    justify-content: space-between;
    max-width: 4rem;
}