.openSidebar{
    /* background-color: rgba(40,40,41,1); */
    position: absolute;
    width: 300px;
    right:0px;
    height: 100vh;
    top:0px;
    background-image: url('.././assets/Lion.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}
.closeSidebar{
    display: none;
}
.open{
    margin-right: 300px;
    transition-duration: .5s;
}
.close{
    transition-duration: .5s;

}
.sidebarOverlay{
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer;
}